@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;600;700&display=swap');

:root {
  --font-base: 'Bebas Neue', serif;
  --font-alt: 'Montserrat', sans-serif;

  --color-primary: #0e4188;

  --color-light-1: #dfdfdf;

  --color-black: #0C0C0C;
  --color-grey: #AAAAAA;
  --color-white: #FFFFFF;

  --box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  color: var(--color-black);
}

body {
    background-color: var(--color-light-1);
}

a {
  text-decoration: none;
}


/* *Aqui empieza el HEADER */
/* *NAVBAR */
.navbar {
    width: 100vw;
    background-color: var(--color-primary);
}

.navbar-container {
    display: flex;
    justify-content: center;
    gap: 2rem;

    list-style: none;
    padding: 2rem;
}

.navbar-container li a {
    color: var(--color-white);
    font-size: 2rem;
    letter-spacing: 2px;
    font-family: var(--font-base);
}


/* *Inicio */
.inicio-container { 
    width: 100vw;
    padding: 6rem 2rem 6rem 2rem;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.inicio-container h1 {
    font-size: 4rem;
    font-family: var(--font-alt);
}

.inicio-container p {
    font-size: 2rem;
    font-family: var(--font-alt);
}


.inicio-container a {
    width: fit-content;
    background-color: transparent;
    padding: 1.15rem 2.5rem;
    border: 2px solid var(--color-primary);
    border-radius: 1rem;
    cursor: pointer;
    
    font-family: var(--font-alt);
    font-size: 1.8rem;
    color: var(--color-primary);
}

.inicio-container a:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    transition: .3s;
}


/* *Aqui empieza el MAIN */
/* *SECTION productos */
.productos-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    padding: 6rem 2rem 6rem 2rem;
}

.productos-container_head h2{
    font-size: 3rem;
    font-family: var(--font-alt);
    padding-bottom: 1rem;
}

.productos-container_head p{
    font-size: 1.6rem;
    font-family: var(--font-alt);
}

.productos-container_cards {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}

.card {
    width: 25rem;
    box-shadow: 10px 10px 40px -20px rgba(0,0,0,0.7);
    border-radius: 10px;
    padding: 0 0 2rem 0;
}

.card img {
    width: 100%;
    height: 20rem;
    border-radius: 10px 10px 0 0;
}

.card h3 {
    font-size: 1.8rem;
    font-family: var(--font-alt);
    padding: 1rem 0 1rem 1rem;
}

.card p {
    font-size: 1.4rem;
    font-family: var(--font-alt);
    padding: 0 1rem 2rem 1rem;
}

.card a {
    width: fit-content;
    background-color: transparent;
    margin-left: 1rem;
    padding: .75rem 1.5rem;
    border: 1px solid var(--color-primary);
    border-radius: 1rem;
    cursor: pointer;
    
    font-family: var(--font-alt);
    font-size: 1.4rem;
    color: var(--color-primary);
}

.card a:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    transition: .3s;
}



.contacto-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    padding: 6rem 2rem 6rem 2rem;
}

.contacto-container_head h2{
    font-size: 3rem;
    font-family: var(--font-alt);
    padding-bottom: 1rem;
}

.contacto-container_head p{
    font-size: 1.6rem;
    font-family: var(--font-alt);
}

.contacto-container_form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 2rem;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group label {
    font-size: 1.8rem;
    font-family: var(--font-alt);
}

.form-group input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-primary);
    outline: none;
    padding: 1rem;
    overflow: hidden;

    font-size: 1.4rem;
    font-family: var(--font-alt);
}

.btn-container {
    padding-top: 2rem;
}

.btn-container button {
    width: fit-content;
    background-color: transparent;
    padding: 1rem 2rem;
    border: 1px solid var(--color-primary);
    border-radius: 1rem;
    cursor: pointer;
    
    font-family: var(--font-alt);
    font-size: 1.8rem;
    color: var(--color-primary);
}

.btn-container button:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    transition: .3s;
}